@import "root.scss";

.form-control,
.custom-select {
  width: 100%;
  height: 35px;
  padding: 0 15px;
  color: #999999;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
}

.form-control:focus,
.custom-select:focus {
  box-shadow: none;
  border-color: $primary_color;
}

.custom-radio,
.custom-checkbox {
  margin-bottom: 15px;
}

.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
  background: #dddddd;
  border-color: #dddddd;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  color: #ffffff;
  background: $primary_color;
  border-color: $primary_color;
  box-shadow: none;
}

.btn {
  color: $primary_color;
  background: #ffffff;
  border: 1px solid $primary_color;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #ffffff;
  background: $primary_color;
  box-shadow: none;
}
